# <center> Applied Statistics for Data Science 
<center> Humberto Díaz </br>
The University of Winnipeg </br>
DIT 54105 AIW01: Applied Statistics for Data Science </br>
Hieu Dang PhD. </br>
May 19, 2025 </br>

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("/Users/eleazar/Documents/Projects/ASDS/EDA/dataset/cleaned_census_income.csv")

In [4]:
df.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
1,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
2,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K
3,34,Private,216864,HS-grad,9,Divorced,Other-service,Unmarried,White,Female,0,3770,45,United-States,<=50K
4,38,Private,150601,10th,6,Separated,Adm-clerical,Unmarried,White,Male,0,3770,40,United-States,<=50K

#### Questions about variables in general

**Q1) What are the categorical variables in this dataset, and why? (10)** <br>
Categorical variables: ``workclass``, ``education``, ``marital.status``, ``occupation``, ``relationship``, ``race``, ``native.country``

**Q2) What are the quantitative variables in this dataset, and why? (10)** <br>
Quantitative variables: ``age``, ``fnlwgt``, ``education.num``, ``capital.gain``, ``capital.loss``, ``hours.per.week``, ``income``

In [11]:
# Function for determining categorical and numerical variables
def check_variables(df: pd.DataFrame):
    cols = df.columns
    quantitative_cols = df._get_numeric_data().columns
    categorical_cols = list(set(cols) - set(quantitative_cols))
    return categorical_cols, list(set(quantitative_cols))
cat_cols, quan_cols = check_variables(df)
print(f'categorical columns: {cat_cols}')
print(f'quantitative columns: {quan_cols}')

categorical columns: ['relationship', 'workclass', 'occupation', 'marital.status', 'native.country', 'sex', 'race', 'income', 'education']
quantitative columns: ['capital.loss', 'age', 'fnlwgt', 'hours.per.week', 'education.num', 'capital.gain']

#### Questions about examining distribution of one categorical variable

**Q3) Examine distribution of ``workclass`` variable (10)**
- Create a frequency distribution table for different values of ``workclass`` variable
- Plot pie chart for ``workclass`` variable
- Plot bar chart for ``workclass`` variable
- Provide your summary/interpretation about the distribution of ``workclass`` variable.

In [8]:
# Create frequency distribution table
workclass_freq = df['workclass'].value_counts().reset_index()
workclass_freq.columns = ['Workclass', 'Frequency']

# Calculate percentages
workclass_freq['Percentage'] = (workclass_freq['Frequency'] / len(df)) * 100

# Sort by frequency (optional)
workclass_freq = workclass_freq.sort_values('Frequency', ascending=False)

# Display the table
print(workclass_freq)

          Workclass  Frequency  Percentage
0           Private      22286   73.887673
1  Self-emp-not-inc       2499    8.285260
2         Local-gov       2067    6.852994
3         State-gov       1279    4.240435
4      Self-emp-inc       1074    3.560772
5       Federal-gov        943    3.126451
6       Without-pay         14    0.046416

**Q4) Examine distribution of ``education`` variable (10)**
- Create a frequency distribution table for different values of ``education`` variable
- Plot pie chart for ``education`` variable
- Plot bar chart for ``education`` variable
- Provide your summary/interpretation about the distribution of ``education`` variable.

**Q5) Examine distribution of ``marital.status`` variable (10)**
- Create a frequency distribution table for different values of marital­ .status
variable
- Plot pie chart for ``marital.status`` variable
- Plot bar chart for ``marital.status`` variable
- Provide your summary/interpretation about the distribution of ``marital.status``
variable.

**Q6) Examine distribution of ``occupation`` variable (10)**
- Create a frequency distribution table for different values of ``occupation`` variable
- Plot pie chart for ``occupation`` variable
- Plot bar chart for ``occupation`` variable
- Provide your summary/interpretation about the distribution of ``occupation`` variable.

**Q7) Examine distribution of ``sex`` variable (10)**
- Create a frequency distribution table for different values of ``sex`` variable
- Plot pie chart for ``sex`` variable
- Plot bar chart for ``sex`` variable
- Provide your summary/interpretation about the distribution of ``sex`` variable.

#### Questions about examining distribution of one quantitative variable

**Q8) Examine distribution of ``age`` variable (10)**
- Plot histogram for ``age`` variable
- Interpret your observation from the histogram with respect to the shape,
center, spread, and outliers.
- Calculate measures of center of the distribution of ``age``: mode, mean, median
- Calculate measures of spread of the distribution of ``age``: range, IQR, outliers based on 1.5IQR criterion, standard deviation.
- Plot the box plot for ``age`` variable
- Provide your summary/interpretation about the distribution of ``age``.

**Q9) Examine distribution of ``education.num`` variable (10)**
- Plot histogram for ``education.num`` variable
- Interpret your observation from the histogram with respect to the shape, center, spread, and outliers.
- Calculate measures of center of the distribution of ``education.num``: mode, mean, median
- Calculate measures of spread of the distribution of ``education.num``: range, IQR, outliers based on 1.5IQR criterion, standard deviation.
- Plot the box plot for ``education.num`` variable
- Provide your summary/interpretation about the distribution of ``education.num``.

**Q10) Examine distribution of ``hours.per.week`` variable (10)**
- Plot histogram for ``hours.per.week`` variable
- Interpret your observation from the histogram with respect to the shape, center, spread, and outliers.
- Calculate measures of center of the distribution of ``hours.per.week``: mode, mean, median
- Calculate measures of spread of the distribution of ``hours.per.week``: range, IQR, outliers based on 1.5IQR criterion, standard deviation.
- Plot the box plot for ``hours.per.week`` variable
- Provide your summary/interpretation about the distribution of ``hours.per.week``.